[submodule "edgorman.github.io"]
	path = edgorman.github.io
	url = https://github.com/edgorman/edgorman.github.io
[submodule "One-More-Neuron"]
	path = One-More-Neuron
	url = https://github.com/edgorman/One-More-Neuron
[submodule "phgorman.com"]
	path = phgorman.com
	url = https://github.com/edgorman/phgorman.com
[submodule "Plex-Photo-Extractor"]
	path = Plex-Photo-Extractor
	url = https://github.com/edgorman/Plex-Photo-Extractor
[submodule "Quadris"]
	path = Quadris
	url = https://github.com/edgorman/Quadris
[submodule "Advent-of-Code"]
	path = Advent-of-Code
	url = https://github.com/edgorman/Advent-of-Code
[submodule "URL-Analyser"]
	path = URL-Analyser
	url = https://github.com/edgorman/URL-Analyser
