/* BODY */
.edos{
  height: 100vh;
  color: white;

  background-color: #101010;
  background-image: url('/includes/img/os-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.newtab{
  height: 100vh;
  color: white;

  background-color: #101010;
}

/* TABS */
.nav-tabs{
  width: 100%;
  border-bottom: 0px solid white;
}

.nav-tabs li{
  width: 250px;
  height: 30px;
  overflow: hidden;
}
.nav-tabs li.add{
  width: 50px;
}

.nav-tabs li a{
  padding: 5px 10px 3px 10px;
}
.nav-tabs li a:hover{
  background-color: #202020;
}
.nav-tabs li a.active{
  background-color: #383838;
}

.nav-tabs li a{
  color: white;
  font-size: 13px;
  white-space: nowrap;
  text-decoration: none;

  display: inline-block;
  width: 100%;
  height: 100%;
}
li.add a, li.add a span{
  text-align: center;
  font-size: 14px;
}

.tab-overlay{
  position: relative;
  height: 30px;
  margin-top: -24px;
  margin-right: -10px;
  background-image: linear-gradient(to right, #ff000000 85% , #101010 87%);
}
li a.active .tab-overlay{
  background-image: linear-gradient(to right, #ff000000 85% , #383838 87%);
}

.tab-overlay .tab-close{
  cursor: pointer;
  position: absolute;
  font-size: 14px;
  right: 7px;
  top: 4px;
  width: 20px;
  height: 25px;
  text-align: center;
}

/* NOTIFICATIONS */
.toast .close{
  color: #ffffff !important;
}

/* WINDOW */

.tab-pane{
  height: 100%;
}

.tab-content{
  width: 100%;
  border: 5px solid #383838;
}

.tab-content iframe{
  height: 100%;
  width: 100%;
  border: none;
}

.tab-icon div{
  position: relative;
  opacity: 0.7;
  cursor: pointer;

  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
.tab-icon div:hover{
  opacity: 1;
}
.tab-icon div.cli{
  background-image: url('/includes/img/cli.png');
}
.tab-icon div.folder{
  background-image: url('/includes/img/folder.png');
}
.tab-icon div.file{
  background-image: url('/includes/img/file.png');
}

.tab-icon span{
  display: inline-block;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 14px;
}
