html {
	scroll-behavior: smooth;
}

body {
	font-family: monospace !important;
}

.section .bg-light.left {
	box-shadow: 0px 0px #f8f9fa inset, 0px 0px #f8f9fa inset, -20px 0px 20px -20px #6f6f6f inset;
}
.section .bg-light.right {
	box-shadow: 0px 0px #f8f9fa inset, 0px 0px #f8f9fa inset, 20px 0px 20px -20px #6f6f6f inset;
}
.section .bg-dark.left {
	box-shadow: 0px 0px #343a40 inset, 0px 0px #343a40 inset, -20px 0px 20px -20px #212121 inset;
}
.section .bg-dark.right {
	box-shadow: 0px 0px #343a40 inset, 0px 0px #343a40 inset, 20px 0px 20px -20px #212121 inset;
}

@media (max-width: 991px) {
	.section .bg-light.right, .section .bg-light.left, .section .bg-dark.left, .section .bg-dark.right{
		box-shadow: 0px 0px 0px 0px #6f6f6f inset;
	}
	
	.section-height {
		padding-top: 80px !important;
		padding-bottom: 0px !important;
	}
}

.section-height {
	min-height: 100vh !important;
	padding-top: 80px;
	padding-right: 20px !important;
	padding-bottom: 80px;
	padding-left: 20px !important;
}

.popover{
	font-size: 12px !important;
}

.moon{
	opacity: 0.8;
	z-index: 1000;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.moon:hover{
	opacity: 1;
}

.rocket{
	z-index: 1000;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.rocket .second{
	opacity: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.moon:hover + .rocket, .moon.active + .rocket{
	top: 55vh !important;
	left: 17vw !important;
}
.moon:hover + .rocket .second, .moon.active + .rocket .second{
	opacity: 1;
	top: 60px !important;
}
.moon.active + .rocket .second{
	transform: rotate(-10deg);
	top: 200px !important;
}

.language{
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.language:hover{ 
	opacity: 1;
}
.language .primary{
	font-size: 150px;
	opacity: 1;
}
.language .secondary{
	font-size: 20px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.language:hover .secondary, .language.active .secondary{
	opacity: 0.7;
}


.timeline, .timeline *{
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.timeline .blip{
	z-index: 1000;
}
.timeline.email.progres{
	background-image: linear-gradient(rgb(62, 134, 78), rgb(221, 221, 221));
}
.timeline.email.success{
	background-image: none;
	background-color: #3e864e !important;
}
.timeline.email.success .blip{
	background-color: #73ce88 !important;
}
.timeline.email.success span{
	color: #28a745 !important;
}

.email-form{
	display: none;
}
.email-form.active{
	display: block;
}

.carousel-inner .carousel-item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.carousel-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #343a407a;
}

.carousel-info {
	position: absolute;
	top: 30%;
	left: 50px;
}

.carousel-info .carousel-profile {
	width: 250px;
	height: 250px;
	background-color: #343a40;
	border-radius: 50%;
	margin: 0 auto;
}

.carousel-profile img {
	height: 90%;
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	opacity: 0.8;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.carousel-profile img:hover {
	height: 95%;
	width: 95%;
	margin-top: 2.5%;
	margin-left: 2.5%;
	opacity: 0.9;
}

.carousel-info .carousel-mesage {
	height: 60px;
	background-color: #343a40;
	margin-top: 15px;
	color: white;
	font-size: 16px;
	padding: 5px 10px 5px 15px;
}
